<a href="https://colab.research.google.com/github/shubham62025865/shubham1/blob/main/Lecture_10_11__OHE___Label_encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# One Hot Encoding and Label Encoding
<img width = 500 src = https://149695847.v2.pressablecdn.com/wp-content/uploads/2021/08/0_emSbyTsSeHaeFUKc-scaled.jpg />


Encoding categorical data is a process of converting categorical data into integer format so that the data with converted categorical values can be provided to the models to give and improve the predictions.

## What is Categorical Data?

Categorical data is a collection of information that is divided into groups. I.e, if an organisation or agency is trying to get a biodata of its employees, the resulting data is referred to as categorical. This data is called categorical because it may be grouped according to the variables present in the biodata such as sex, state of residence, etc.

Categorical data can take on numerical values (such as “1” indicating Yes and “2” indicating No), but those numbers don’t have mathematical meaning. One can neither add them together nor subtract them from each other. 


### Types of categorical data
- Nominal
- Ordinal

**Nominal data**: This type of categorical data consists of the name variable without any numerical values. For example, in any organization, the name of the different departments like research and development department, human resource department, accounts and billing department etc.

<img width = 500 src = https://149695847.v2.pressablecdn.com/wp-content/uploads/2021/09/image-25.png />


**Ordinal data**: This type of categorical data consists of a set of orders or scales. For example, a list of patients consists of the level of sugar present in the body of a person which can be divided into high, low and medium classes.

<img width = 500 src = https://149695847.v2.pressablecdn.com/wp-content/uploads/2021/09/image-26.png />

## Ordinal encoder

This type of encoding is used when the variables in the data are ordinal, ordinal encoding converts each label into integer values and the encoded data represents the sequence of labels.

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
import pandas as pd

temp_df=pd.DataFrame({'height':['tall','medium','short','tall','medium','short','tall','medium','short',],
                      'weight' : ['heavy','under_weight','normal','under_weight','normal','heavy','heavy','normal','under_weight']})
temp_df

   height        weight
0    tall         heavy
1  medium  under_weight
2   short        normal
3    tall  under_weight
4  medium        normal
5   short         heavy
6    tall         heavy
7  medium        normal
8   short  under_weight

In [ ]:
temp_df.height.unique(), temp_df.weight.unique()

(array(['tall', 'medium', 'short'], dtype=object),
 array(['heavy', 'under_weight', 'normal'], dtype=object))

In [ ]:
temp_df.weight.value_counts()

heavy           3
under_weight    3
normal          3
Name: weight, dtype: int64

In [ ]:
temp_df

   height        weight
0    tall         heavy
1  medium  under_weight
2   short        normal
3    tall  under_weight
4  medium        normal
5   short         heavy
6    tall         heavy
7  medium        normal
8   short  under_weight

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder(categories = [["under_weight", "normal", "heavy"]])
temp_df["weight"] = oe.fit_transform(temp_df[["weight"]])
temp_df

   height  weight
0    tall     2.0
1  medium     0.0
2   short     1.0
3    tall     0.0
4  medium     1.0
5   short     2.0
6    tall     2.0
7  medium     1.0
8   short     0.0

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
weight_oe = OrdinalEncoder(categories = [["under_weight", "normal", "heavy"]])
temp_df["weight"] = weight_oe.fit_transform(temp_df[["weight"]])

In [ ]:
temp_df.weight

0    2.0
1    0.0
2    1.0
3    0.0
4    1.0
5    2.0
6    2.0
7    1.0
8    0.0
Name: weight, dtype: float64

In [ ]:
oe = OrdinalEncoder(categories= [["short","medium","tall"],["under_weight","normal","heavy"]])
oe

OrdinalEncoder(categories=[['short', 'medium', 'tall'],
                           ['under_weight', 'normal', 'heavy']])

In [ ]:
oe1 = OrdinalEncoder()

In [ ]:
oe_weight = OrdinalEncoder(categories= [["under_weight","normal","heavy"]])

In [ ]:
temp_df["weight"] = oe_weight.fit_transform(temp_df[["weight"]])

In [ ]:
temp_df.head()

   height  weight
0    tall     2.0
1  medium     0.0
2   short     1.0
3    tall     0.0
4  medium     1.0

In [ ]:
oe.fit_transform(temp_df)

array([[2., 2.],
       [1., 1.],
       [0., 0.],
       [2., 1.],
       [1., 0.],
       [0., 2.],
       [2., 2.],
       [1., 0.],
       [0., 1.]])

In [ ]:
oe = OrdinalEncoder(categories= [["short","medium","tall"],["under_weight","normal","heavy"]])

In [ ]:
oe.fit(temp_df)

OrdinalEncoder(categories=[['short', 'medium', 'tall'],
                           ['under_weight', 'normal', 'heavy']])

In [ ]:
temp_df.head()

   height        weight
0    tall         heavy
1  medium  under_weight
2   short        normal
3    tall  under_weight
4  medium        normal

In [ ]:
oe_temp_df = pd.DataFrame(oe.transform(temp_df))

# imputation removed column names; put them back
oe_temp_df.columns = temp_df.columns


oe_temp_df

   height  weight
0     2.0     2.0
1     1.0     0.0
2     0.0     1.0
3     2.0     0.0
4     1.0     1.0
5     0.0     2.0
6     2.0     2.0
7     1.0     1.0
8     0.0     0.0

In [ ]:
oe = OrdinalEncoder(categories=[['short','medium','tall'],['under_weight','normal','heavy']])
oe.fit(temp_df)

OrdinalEncoder(categories=[['short', 'medium', 'tall'],
                           ['under_weight', 'normal', 'heavy']])

In [ ]:
oe.transform(temp_df)

array([[2., 2.],
       [1., 0.],
       [0., 1.],
       [2., 0.],
       [1., 1.],
       [0., 2.],
       [2., 2.],
       [1., 1.],
       [0., 0.]])

In [ ]:
temp_df = oe.transform(temp_df)

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
df = pd.read_csv("/content/train (1).csv")
df.head()

FileNotFoundError: ignored

In [ ]:
# Drop id column from df
df.drop(columns = ["Id"], inplace = True)
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [ ]:
# seperate target column
X = df.drop(columns = ["SalePrice"])
y = df["SalePrice"]
X.shape, y.shape

((1460, 79), (1460,))

In [ ]:
X.dropna(axis = 'columns', inplace = True)

In [ ]:
X.isnull().sum()[X.isnull().sum() != 0].index

Index([], dtype='object')

In [ ]:
X.isnull().any()

MSSubClass       False
MSZoning         False
LotArea          False
Street           False
LotShape         False
LandContour      False
Utilities        False
LotConfig        False
LandSlope        False
Neighborhood     False
Condition1       False
Condition2       False
BldgType         False
HouseStyle       False
OverallQual      False
OverallCond      False
YearBuilt        False
YearRemodAdd     False
RoofStyle        False
RoofMatl         False
Exterior1st      False
Exterior2nd      False
ExterQual        False
ExterCond        False
Foundation       False
BsmtFinSF1       False
BsmtFinSF2       False
BsmtUnfSF        False
TotalBsmtSF      False
Heating          False
HeatingQC        False
CentralAir       False
1stFlrSF         False
2ndFlrSF         False
LowQualFinSF     False
GrLivArea        False
BsmtFullBath     False
BsmtHalfBath     False
FullBath         False
HalfBath         False
BedroomAbvGr     False
KitchenAbvGr     False
KitchenQual      False
TotRmsAbvGrd     False
Functional       False
Fireplaces       False
GarageCars       False
GarageArea       False
PavedDrive       False
WoodDeckSF       False
OpenPorchSF      False
EnclosedPorch    False
3SsnPorch        False
ScreenPorch      False
PoolArea         False
MiscVal          False
MoSold           False
YrSold           False
SaleType         False
SaleCondition    False
dtype: bool

In [ ]:
X.columns

Index(['MSSubClass', 'MSZoning', 'LotArea', 'Street', 'LotShape',
       'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood',
       'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle', 'RoofMatl',
       'Exterior1st', 'Exterior2nd', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd',
       'Functional', 'Fireplaces', 'GarageCars', 'GarageArea', 'PavedDrive',
       'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition'],
      dtype='object')

In [ ]:
# To keep things simple, we'll drop columns with missing values
cols_with_missing = [col for col in X.columns if X[col].isnull().any()]

In [ ]:
X.drop(columns = cols_with_missing, inplace =True)
X.shape

(1460, 60)

In [ ]:
# Break off validation set from training data
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(X, y,
                                                      train_size=0.80,
                                                      random_state=0)

print(f'Shape of X_train -: {X_train.shape}')
print(f'Shape of X_valid -: {X_valid.shape}')
print(f'Shape of y_train -: {y_train.shape}')
print(f'Shape of y_valid -: {y_valid.shape}')

Shape of X_train -: (1168, 60)
Shape of X_valid -: (292, 60)
Shape of y_train -: (1168,)
Shape of y_valid -: (292,)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

# function for comparing different approaches
def score_dataset(X_train, X_valid, y_train, y_valid):
    model = RandomForestRegressor(n_estimators=100, random_state=0)
    model.fit(X_train, y_train)
    preds = model.predict(X_valid)
    return mean_absolute_error(y_valid, preds)

## Drop columns with categorical data

In [ ]:
# Seperating numerical and categorical columns
num_col = [col for col in X.columns if X[col].dtype !=object]
cat_col = [col for col in X.columns if X[col].dtype ==object]
# num_col, cat_col

In [ ]:
drop_X_train = X_train.select_dtypes(exclude=['object'])
drop_X_valid = X_valid.select_dtypes(exclude=['object'])

In [ ]:
# creating mae_df for comparision of model accuracy
d = {'Process': [], 'MAE': []}
mae_df = pd.DataFrame(data = d)
mae_df

Empty DataFrame
Columns: [Process, MAE]
Index: []

In [ ]:
d = {'Process': ["Drop columns with missing values numerical columns"],
     'MAE': [round(score_dataset(drop_X_train, drop_X_valid, y_train, y_valid),2)]}
temp_df = pd.DataFrame(data = d)
mae_df = pd.concat([mae_df,temp_df],ignore_index = True)
mae_df

                                             Process       MAE
0  Drop columns with missing values numerical col...  17837.83

In [ ]:
X_train.columns

Index(['MSSubClass', 'MSZoning', 'LotArea', 'Street', 'LotShape',
       'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood',
       'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle', 'RoofMatl',
       'Exterior1st', 'Exterior2nd', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd',
       'Functional', 'Fireplaces', 'GarageCars', 'GarageArea', 'PavedDrive',
       'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition'],
      dtype='object')

In [ ]:
X_train['Condition2'].value_counts()

Norm      1160
Feedr        4
PosA         1
PosN         1
Artery       1
RRAe         1
Name: Condition2, dtype: int64

In [ ]:
X_valid['Condition2'].value_counts()

Norm      285
RRNn        2
Feedr       2
RRAn        1
Artery      1
PosN        1
Name: Condition2, dtype: int64

In [ ]:
# before applying label encoding first explore the dataset closely, here we look into Condition2 column
print("Unique values in 'Condition2' column in training data:", X_train['Condition2'].unique())
print("\nUnique values in 'Condition2' column in validation data:", X_valid['Condition2'].unique())

Unique values in 'Condition2' column in training data: ['Norm' 'PosA' 'Feedr' 'PosN' 'Artery' 'RRAe']

Unique values in 'Condition2' column in validation data: ['Norm' 'RRAn' 'RRNn' 'Artery' 'Feedr' 'PosN']

In [ ]:
X_train["Condition1"].unique()

array(['Norm', 'PosN', 'Feedr', 'Artery', 'PosA', 'RRAn', 'RRAe', 'RRNn',
       'RRNe'], dtype=object)

In [ ]:
X_valid["Condition1"].unique()

array(['Norm', 'Artery', 'RRAn', 'Feedr', 'RRNn', 'PosN', 'RRAe', 'PosA'],
      dtype=object)

This is a common problem that you'll encounter with real-world data, and there are many approaches to fixing this issue.  For instance, you can write a custom label encoder to deal with new categories.  The simplest approach, however, is to drop the problematic categorical columns.

In [ ]:
set(X_train["Condition2"])

{'Artery', 'Feedr', 'Norm', 'PosA', 'PosN', 'RRAe'}

In [ ]:
set(X_valid["Condition2"])

{'Artery', 'Feedr', 'Norm', 'PosN', 'RRAn', 'RRNn'}

In [ ]:
set(X_valid["Condition2"]) - set(X_train["Condition2"])

{'RRAn', 'RRNn'}

In [ ]:
a = {"apple","banana", "mango", "papaya"}
b = {"kiwi", "orange", "apple", "mango"}
b-a

{'kiwi', 'orange'}

In [ ]:
set(X_valid["Condition1"]) - set(X_train["Condition1"])

set()

In [ ]:
cat_col

['MSZoning',
 'Street',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'KitchenQual',
 'Functional',
 'PavedDrive',
 'SaleType',
 'SaleCondition']

In [ ]:
mismatched_col = []
for col in cat_col:
  if len(set(X_valid[col]) - set(X_train[col])) > 0:
    mismatched_col.append(col)

In [ ]:
mismatched_col

['Condition2', 'RoofMatl', 'Functional']

In [ ]:
print('Categorical columns that will be label encoded:\n', good_label_cols)
print('\nCategorical columns that will be dropped from the dataset:\n', bad_label_cols)

NameError: ignored

In [ ]:
# label encode the data in `X_train` and `X_valid`

from sklearn.preprocessing import LabelEncoder

In [ ]:
# Drop categorical columns that will not be encoded
label_X_train = X_train.drop(columns = mismatched_col)
label_X_valid = X_valid.drop(columns = mismatched_col)
label_X_train.shape

In [ ]:
X_train.shape

In [ ]:
# Apply label encoder 
label_encoder = LabelEncoder()

In [ ]:
label_encoder.fit_transform(label_X_train["Condition1"])

In [ ]:
label_X_train["Condition1"]

In [ ]:
label_encoder.transform(label_X_valid["Condition1"])

In [ ]:
new_cat_col = []
for col in label_X_train.columns:
  if label_X_train[col].dtype == "object":
    new_cat_col.append(col)
new_cat_col

In [ ]:
label_X_train.head()

In [ ]:
for col in new_cat_col:
  label_X_train[col] = label_encoder.fit_transform(label_X_train[col])
  label_X_valid[col] = label_encoder.transform(label_X_valid[col])

In [ ]:
label_X_train.head()

In [ ]:
label_encoder.fit_transform(label_X_train["MSZoning"])

In [ ]:
label_X_train["MSZoning"]

In [ ]:
for col in good_label_cols:
  label_X_train[col] = label_encoder.fit_transform(label_X_train[col])
  label_X_valid[col] = label_encoder.transform(label_X_valid[col])

In [ ]:
label_X_train.head()

In [ ]:
d = {'Process': ["Label encoding"],
     'MAE': [round(score_dataset(label_X_train, label_X_valid, y_train, y_valid),2)]}
temp_df = pd.DataFrame(data = d)
temp_df

In [ ]:
mae_df = pd.concat([mae_df, temp_df], ignore_index = True)
mae_df

In [ ]:
d = {'Process': ["Label encoding"],
     'MAE': [round(score_dataset(label_X_train, label_X_valid, y_train, y_valid),2)]}
temp_df = pd.DataFrame(data = d)
mae_df = pd.concat([mae_df,temp_df],ignore_index = True)
mae_df

In [ ]:
X_train.head()

## One hot encoder

<img width = 600 src = >

In One-Hot Encoding, each category of any categorical variable gets a new variable. It maps each category with binary numbers (0 or 1). This type of encoding is used when the data is nominal. Newly created binary features can be considered dummy variables. After one hot encoding, the number of dummy variables depends on the number of categories presented in the data

For large datasets with many rows, one-hot encoding can greatly expand the size of the dataset. For this reason, we typically will only one-hot encode columns with relatively low cardinality. Then, high cardinality columns can either be dropped from the dataset, or we can use label encoding.

As an example, consider a dataset with 10,000 rows, and containing one categorical column with 100 unique entries.

If this column is replaced with the corresponding one-hot encoding, how many entries are added to the dataset?
If we instead replace the column with the label encoding, how many entries are added?

In [ ]:
import pandas as pd
temp_df =pd.DataFrame({'car':[
'nexon','amaze','alto','amaze','alto','nexon','santro'
],
'type': ['electric','diesel','petrol','diesel','petrol','petrol','diesel']})
temp_df

      car      type
0   nexon  electric
1   amaze    diesel
2    alto    petrol
3   amaze    diesel
4    alto    petrol
5   nexon    petrol
6  santro    diesel

In [ ]:
temp_df["car"].value_counts()

nexon     2
amaze     2
alto      2
santro    1
Name: car, dtype: int64

In [ ]:
temp_df.head()

     car      type
0  nexon  electric
1  amaze    diesel
2   alto    petrol
3  amaze    diesel
4   alto    petrol

In [ ]:
pd.get_dummies(temp_df["car"])

   alto  amaze  nexon  santro
0     0      0      1       0
1     0      1      0       0
2     1      0      0       0
3     0      1      0       0
4     1      0      0       0
5     0      0      1       0
6     0      0      0       1

In [ ]:
from sklearn.preprocessing import OneHotEncoder

enc = OneHotEncoder(handle_unknown='ignore', sparse_output = False)

enc.fit_transform(temp_df[["car"]])

array([[0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [ ]:
pd.get_dummies(temp_df["car"])

   alto  amaze  nexon  santro
0     0      0      1       0
1     0      1      0       0
2     1      0      0       0
3     0      1      0       0
4     1      0      0       0
5     0      0      1       0
6     0      0      0       1

In [ ]:
pd.get_dummies(temp_df, drop_first = True)

   car_amaze  car_nexon  car_santro  type_electric  type_petrol
0          0          1           0              1            0
1          1          0           0              0            0
2          0          0           0              0            1
3          1          0           0              0            0
4          0          0           0              0            1
5          0          1           0              0            1
6          0          0           1              0            0

In [ ]:
X.shape, X_train.shape

((1460, 60), (1168, 60))

In [ ]:
cat_col = [col for col in X_train.columns if X_train[col].dtype == object]
cat_col

['MSZoning',
 'Street',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'KitchenQual',
 'Functional',
 'PavedDrive',
 'SaleType',
 'SaleCondition']

In [ ]:
df_unique = pd.DataFrame(data = d)
df_unique

                                             Process       MAE
0  Drop columns with missing values numerical col...  17837.83

In [ ]:
X_train["Condition2"].unique()

array(['Norm', 'PosA', 'Feedr', 'PosN', 'Artery', 'RRAe'], dtype=object)

In [ ]:
X_train["Condition2"].value_counts()

Norm      1160
Feedr        4
PosA         1
PosN         1
Artery       1
RRAe         1
Name: Condition2, dtype: int64

In [ ]:
X_train["Condition2"].nunique()

6

In [ ]:
# number of unique values in each categorical column
d = {
    "Column" :[],
     "Count" :[]
}
df_unique = pd.DataFrame(data = d)

In [ ]:
df_unique

Empty DataFrame
Columns: [Column, Count]
Index: []

In [ ]:
for col in cat_col:
  df_unique = df_unique.append({"Column" : col, "Count": X_train[col].nunique()},ignore_index=True)

df_unique

<ipython-input-39-37b8bcf6887f>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_unique = df_unique.append({"Column" : col, "Count": X_train[col].nunique()},ignore_index=True)
<ipython-input-39-37b8bcf6887f>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_unique = df_unique.append({"Column" : col, "Count": X_train[col].nunique()},ignore_index=True)
<ipython-input-39-37b8bcf6887f>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_unique = df_unique.append({"Column" : col, "Count": X_train[col].nunique()},ignore_index=True)
<ipython-input-39-37b8bcf6887f>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_unique = df_unique.append({"Column" : col, "Count": X_train[col].nunique()},ignore_index=True)
<ipython-input-39-37b8bcf6887f>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_unique = df_unique.append({"Column" : col, "Count": X_train[col].nunique()},ignore_index=True)
<ipython-input-39-37b8bcf6887f>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_unique = df_unique.append({"Column" : col, "Count": X_train[col].nunique()},ignore_index=True)
<ipython-input-39-37b8bcf6887f>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_unique = df_unique.append({"Column" : col, "Count": X_train[col].nunique()},ignore_index=True)
<ipython-input-39-37b8bcf6887f>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_unique = df_unique.append({"Column" : col, "Count": X_train[col].nunique()},ignore_index=True)
<ipython-input-39-37b8bcf6887f>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_unique = df_unique.append({"Column" : col, "Count": X_train[col].nunique()},ignore_index=True)
<ipython-input-39-37b8bcf6887f>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_unique = df_unique.append({"Column" : col, "Count": X_train[col].nunique()},ignore_index=True)
<ipython-input-39-37b8bcf6887f>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_unique = df_unique.append({"Column" : col, "Count": X_train[col].nunique()},ignore_index=True)
<ipython-input-39-37b8bcf6887f>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_unique = df_unique.append({"Column" : col, "Count": X_train[col].nunique()},ignore_index=True)
<ipython-input-39-37b8bcf6887f>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_unique = df_unique.append({"Column" : col, "Count": X_train[col].nunique()},ignore_index=True)
<ipython-input-39-37b8bcf6887f>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_unique = df_unique.append({"Column" : col, "Count": X_train[col].nunique()},ignore_index=True)
<ipython-input-39-37b8bcf6887f>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_unique = df_unique.append({"Column" : col, "Count": X_train[col].nunique()},ignore_index=True)
<ipython-input-39-37b8bcf6887f>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_unique = df_unique.append({"Column" : col, "Count": X_train[col].nunique()},ignore_index=True)
<ipython-input-39-37b8bcf6887f>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_unique = df_unique.append({"Column" : col, "Count": X_train[col].nunique()},ignore_index=True)
<ipython-input-39-37b8bcf6887f>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_unique = df_unique.append({"Column" : col, "Count": X_train[col].nunique()},ignore_index=True)
<ipython-input-39-37b8bcf6887f>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_unique = df_unique.append({"Column" : col, "Count": X_train[col].nunique()},ignore_index=True)
<ipython-input-39-37b8bcf6887f>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_unique = df_unique.append({"Column" : col, "Count": X_train[col].nunique()},ignore_index=True)
<ipython-input-39-37b8bcf6887f>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_unique = df_unique.append({"Column" : col, "Count": X_train[col].nunique()},ignore_index=True)
<ipython-input-39-37b8bcf6887f>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_unique = df_unique.append({"Column" : col, "Count": X_train[col].nunique()},ignore_index=True)
<ipython-input-39-37b8bcf6887f>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_unique = df_unique.append({"Column" : col, "Count": X_train[col].nunique()},ignore_index=True)
<ipython-input-39-37b8bcf6887f>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_unique = df_unique.append({"Column" : col, "Count": X_train[col].nunique()},ignore_index=True)
<ipython-input-39-37b8bcf6887f>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_unique = df_unique.append({"Column" : col, "Count": X_train[col].nunique()},ignore_index=True)
<ipython-input-39-37b8bcf6887f>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_unique = df_unique.append({"Column" : col, "Count": X_train[col].nunique()},ignore_index=True)
<ipython-input-39-37b8bcf6887f>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_unique = df_unique.append({"Column" : col, "Count": X_train[col].nunique()},ignore_index=True)

           Column  Count
0        MSZoning    5.0
1          Street    2.0
2        LotShape    4.0
3     LandContour    4.0
4       Utilities    2.0
5       LotConfig    5.0
6       LandSlope    3.0
7    Neighborhood   25.0
8      Condition1    9.0
9      Condition2    6.0
10       BldgType    5.0
11     HouseStyle    8.0
12      RoofStyle    6.0
13       RoofMatl    7.0
14    Exterior1st   15.0
15    Exterior2nd   16.0
16      ExterQual    4.0
17      ExterCond    5.0
18     Foundation    6.0
19        Heating    6.0
20      HeatingQC    5.0
21     CentralAir    2.0
22    KitchenQual    4.0
23     Functional    6.0
24     PavedDrive    3.0
25       SaleType    9.0
26  SaleCondition    6.0

In [ ]:
df_unique.sort_values(by = ["Count"], ascending = False)

           Column  Count
7    Neighborhood   25.0
15    Exterior2nd   16.0
14    Exterior1st   15.0
25       SaleType    9.0
8      Condition1    9.0
11     HouseStyle    8.0
13       RoofMatl    7.0
23     Functional    6.0
19        Heating    6.0
18     Foundation    6.0
12      RoofStyle    6.0
26  SaleCondition    6.0
9      Condition2    6.0
10       BldgType    5.0
17      ExterCond    5.0
5       LotConfig    5.0
20      HeatingQC    5.0
0        MSZoning    5.0
16      ExterQual    4.0
22    KitchenQual    4.0
3     LandContour    4.0
2        LotShape    4.0
6       LandSlope    3.0
24     PavedDrive    3.0
1          Street    2.0
4       Utilities    2.0
21     CentralAir    2.0

In [ ]:
[col for col in X_train[cat_col].columns if X_train[col].nunique() < 10]

['MSZoning',
 'Street',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'RoofStyle',
 'RoofMatl',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'KitchenQual',
 'Functional',
 'PavedDrive',
 'SaleType',
 'SaleCondition']

In [ ]:
# Columns that will be one-hot encoded
low_cardinality_cols = [col for col in df_unique["Column"] if X_train[col].nunique() < 10]

# Columns that will be dropped from the dataset
high_cardinality_cols = list(set(df_unique["Column"])-set(low_cardinality_cols))

print('Categorical columns that will be one-hot encoded:', low_cardinality_cols)
print('\nCategorical columns that will be dropped from the dataset:', high_cardinality_cols)

Categorical columns that will be one-hot encoded: ['MSZoning', 'Street', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'ExterQual', 'ExterCond', 'Foundation', 'Heating', 'HeatingQC', 'CentralAir', 'KitchenQual', 'Functional', 'PavedDrive', 'SaleType', 'SaleCondition']

Categorical columns that will be dropped from the dataset: ['Neighborhood', 'Exterior1st', 'Exterior2nd']

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
X_train.shape

(1168, 60)

In [ ]:
OH_X_train = X_train.drop(columns = high_cardinality_cols)
OH_X_valid = X_valid.drop(columns = high_cardinality_cols)

In [ ]:
OH_encoder = OneHotEncoder(handle_unknown = 'ignore',sparse_output=False)

In [ ]:
OH_encoder.fit(OH_X_train[low_cardinality_cols])

OneHotEncoder(handle_unknown='ignore', sparse_output=False)

In [ ]:
OH_encoder.transform(OH_X_train[low_cardinality_cols])

array([[0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [ ]:
OH_X_train.head()

,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Condition1,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
618,20,RL,11694,Pave,Reg,Lvl,AllPub,Inside,Gtl,Norm,...,108,0,0,260,0,0,7,2007,New,Partial
870,20,RL,6600,Pave,Reg,Lvl,AllPub,Inside,Gtl,PosN,...,0,0,0,0,0,0,8,2009,WD,Normal
92,30,RL,13360,Pave,IR1,HLS,AllPub,Inside,Gtl,Norm,...,0,44,0,0,0,0,8,2009,WD,Normal
817,20,RL,13265,Pave,IR1,Lvl,AllPub,CulDSac,Gtl,Norm,...,59,0,0,0,0,0,7,2008,WD,Normal
302,20,RL,13704,Pave,IR1,Lvl,AllPub,Corner,Gtl,Norm,...,81,0,0,0,0,0,1,2006,WD,Normal

In [ ]:
oh_col_train.index

RangeIndex(start=0, stop=1168, step=1)

In [ ]:
OH_X_train.index

Int64Index([ 618,  870,   92,  817,  302, 1454,   40,  959,   75, 1389,
            ...
            1094,  599,  277, 1033, 1383,  763,  835, 1216,  559,  684],
           dtype='int64', length=1168)

In [ ]:
y_train.index

Int64Index([ 618,  870,   92,  817,  302, 1454,   40,  959,   75, 1389,
            ...
            1094,  599,  277, 1033, 1383,  763,  835, 1216,  559,  684],
           dtype='int64', length=1168)

In [ ]:
pd.DataFrame(OH_encoder.transform(OH_X_train[low_cardinality_cols]))
# OH_encoder.transform(OH_X_valid[low_cardinality_col])

,0,1,2,3,4,5,6,7,8,9,...,112,113,114,115,116,117,118,119,120,121
0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1163,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1164,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1165,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1166,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1167,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
oh_col_train  = pd.DataFrame(OH_encoder.fit_transform(OH_X_train[low_cardinality_cols]))
oh_col_valid  = pd.DataFrame(OH_encoder.transform(OH_X_valid[low_cardinality_cols]))

In [ ]:
oh_col_train.head()

,0,1,2,3,4,5,6,7,8,9,...,112,113,114,115,116,117,118,119,120,121
0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
oh_col_train.index = OH_X_train.index
oh_col_valid.index = OH_X_valid.index

In [ ]:
oh_col_train.head()

,0,1,2,3,4,5,6,7,8,9,...,112,113,114,115,116,117,118,119,120,121
618,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
870,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
92,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
817,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
302,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
num_X_train = OH_X_train.drop(columns = low_cardinality_cols)
num_X_valid = OH_X_valid.drop(columns = low_cardinality_cols)
# num_X_train = X_train.select_dtypes(exclude=['object'])
# num_X_valid = X_valid.select_dtypes(exclude=['object'])
num_X_train.head()

,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
618,20,11694,9,5,2007,2007,48,0,1774,1822,...,774,0,108,0,0,260,0,0,7,2007
870,20,6600,5,5,1962,1962,0,0,894,894,...,308,0,0,0,0,0,0,0,8,2009
92,30,13360,5,7,1921,2006,713,0,163,876,...,432,0,0,44,0,0,0,0,8,2009
817,20,13265,8,5,2002,2002,1218,0,350,1568,...,857,150,59,0,0,0,0,0,7,2008
302,20,13704,7,5,2001,2002,0,0,1541,1541,...,843,468,81,0,0,0,0,0,1,2006

In [ ]:
# pd.concat([df1, df2], axis = 1)

In [ ]:
OH_X_train = pd.concat([num_X_train,oh_col_train], axis = 1)
OH_X_valid = pd.concat([num_X_valid,oh_col_valid], axis = 1)

In [ ]:
OH_X_valid.head()

,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,...,112,113,114,115,116,117,118,119,120,121
529,20,32668,6,3,1957,1975,1219,0,816,2035,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
491,50,9490,6,7,1941,1950,403,165,238,806,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
459,50,7015,5,4,1950,1950,185,0,524,709,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
279,60,10005,7,5,1977,1977,392,0,768,1160,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
655,160,1680,6,5,1971,1971,0,0,525,525,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [ ]:
np.array(OH_X_valid)

array([[2.0000e+01, 3.2668e+04, 6.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [5.0000e+01, 9.4900e+03, 6.0000e+00, ..., 0.0000e+00, 1.0000e+00,
        0.0000e+00],
       [5.0000e+01, 7.0150e+03, 5.0000e+00, ..., 0.0000e+00, 1.0000e+00,
        0.0000e+00],
       ...,
       [5.0000e+01, 8.5200e+03, 6.0000e+00, ..., 1.0000e+00, 0.0000e+00,
        0.0000e+00],
       [3.0000e+01, 5.3300e+03, 4.0000e+00, ..., 0.0000e+00, 1.0000e+00,
        0.0000e+00],
       [7.5000e+01, 7.2000e+03, 5.0000e+00, ..., 0.0000e+00, 1.0000e+00,
        0.0000e+00]])

In [ ]:
d = {'Process': ["OHE encoding"],
     'MAE': [round(score_dataset(np.array(OH_X_train), np.array(OH_X_valid), y_train, y_valid),2)]}
temp_df = pd.DataFrame(data = d)
mae_df = pd.concat([mae_df,temp_df],ignore_index = True)
mae_df

                                             Process       MAE
0  Drop columns with missing values numerical col...  17837.83
1                                       OHE encoding  17525.35